.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    background-color: rgb(160, 160, 162);
  }
}

.item-list {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .item-todo {
    display: flex;
    justify-content: center;

    .item_text_comp {
      text-decoration: line-through;
      text-decoration-color: red;
    }
  }
}

button {
  cursor: pointer;
}

.oneTask {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 300px;
}

.item-delete {
  cursor: pointer;
}

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

.increment {
  margin-top: 40%;
}
