.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    background-color: rgb(160, 160, 162);
  }
}

.item-list {
  display: grid;
  justify-content: center;

  .item-todo {
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content:space-evenly;
    width: 300px;
  
    .item_text_comp {
      text-decoration: line-through;
      text-decoration-color: red;
    }
  }
}

.item-delete {
 cursor: pointer;
}

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }
